{% load static %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="author" content="Zephania Reuben">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'frameworks/bootstrap/dist/css/bootstrap.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'frameworks/font-awesome/css/font-awesome.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}{% endblock %}
</head>
<body>
<div class="container-fluid">
<!--    <nav class="navbar navbar-deafult">-->
<!--      <span class="navbar-header">-->
<!--      <span class="navbar-brand">IDCD</span>-->
<!--      </span>-->
<!--      <ul class="nav navbar-nav">-->
<!--          <li><a href="#">Home</a></li>-->
<!--          <li><a href="">Analyse</a></li>-->
<!--          <li><a href="">Visualize</a></li>-->
<!--      </ul>-->
<!--  </nav>-->

</div>

</body>
</html>