{% extends 'includes/master.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="" style="margin-top: 50px;">
        <div class="well bg-info" >
            <p class="h2 text-center text-info">UPLOAD YOUR ID CARD TO REGISTER</p>
        </div>
        <div class="form-group">
           <div class="panel panel-info">
               <div class="panel-body">

                   <div class="form-group">

               <form role="form" method="POST" action="{% url 'home' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="row">
                       <div class="col-md-2">
                               <label class="control-label">ID Photo</label>
                           </div>
                       <div class="col-md-8">
                           {{ id_photo_form.filename }}
                       </div>
                       <div class="col-md-2"><button class="btn btn-info" type="submit">Upload</button></div>
                       <div class="col-md-12">
                           <p class="text-center text-danger h6">{{ fmsg }}</p>
                       </div>
                   </div>
               </form>

                   </div>

               </div>

               </div>

          </div>
        </div>
{% endblock %}